<head>
    <link rel="stylesheet" href="../../assets/stylesheets/comments/commentStyle.css">
</head>

<div class="commentCard">
    <%unless comment.archived?%>
        <div class="contentArea">
            <div class="commenter">
            <strong><%= comment.commenter%></strong>
            </div>
            <div class="commentBody">
                <%= comment.body%>
            </div>
        </div>
        <%= turbo_include_tags %>
        <%= link_to 'Delete Comment', [comment.article, comment], data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
        }, class: "deleteLink"%>
    <%end%>
</div>
