<h1>Artilces</h1>

<h3>Our blog have <%=Article.public_count %> articles</h3>

<ul>
    <%@articles.each do |article| %>
        <% unless article.archived? %>
            <li>
                <%= link_to article.title, article %>
            </li>
        <%end%>
    <%end%>
</ul>

<%= link_to "New Article", new_article_path%>

