<header>
    <strong id="title">My Blog</strong>
    <%if logged_in?%>
        <p>você está logado</p>
        <%= turbo_include_tags %>
        <%= link_to "sair", sign_out_path , data: {
                    turbo_method: :delete,
                    turbo_confirm: "Log out?"
                  }%>
    <%end%>
    <%= link_to "New Article", new_article_path%>
</header>