<head>
    <link rel="stylesheet" href="../../assets/stylesheets/layouts/headerStyle.css">
</head>
<header>
    <%= link_to 'Mini Blogs', root_path, class: "title"%>
    <div class="actionArea">
        <%if logged_in?%>
            <%= link_to "Profile", user_path(current_user), class: "linkClass"%>
        <%else%>
            <%= link_to "Sign In", sign_in_path, class: "linkClass"%>
        <%end%>
        <%= link_to "New Article", new_article_path, class: "linkClass"%>
    </div>
</header>